* {
  margin: 0;
  padding: 0;
}
$primary-font: quiche-sans, sans-serif;

.background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.716);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);

  img {
    height: 100%;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    padding: 20px 40px;
    list-style: none;

    :hover {
      text-decoration: underline;
    }
  }
  a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
  }
}
.text-container {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.911);
  width: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primary-font;

  h1 {
    margin-top: 20vh;
    font-size: 80px;
  }
  h2 {
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 60px;
  }
  p {
    font-size: 30px;
  }
  a {
    margin-top: 1%;
    margin-bottom: 10%;
    font-size: 50px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.086);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.249);
    padding: 10px 40px;
    border: none;
    border-radius: 30px;

  }
  a:hover {
    text-shadow: 5px 5px 2px rgba(0,0,0,0.6);
    
  }
}
